<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Index</h1>

    {% if user.is_authenticated %}
    <p>반갑습니다 {{ user }} 님</p>
    <img src="{{ user.image.url }}" alt="" width="100px" />
    <a href="/todos/create/">글 작성하기</a>

    <form action="/users/logout/" method="post">
      {% csrf_token %}
      <input type="submit" value="로그아웃" />
    </form>

    {% else %}
    <a href="/users/login/"> 로그인 하러 가기 </a>
    <a href="/users/signup/"> 회원가입 하러 가기 </a>
    {% endif %} {% for todo in todos %}
    <a href="/todos/{{ todo.id }}/">
      <p>{{ todo.title }}</p>
    </a>

    {% endfor %}
  </body>
</html>
